.page{
	min-height: 1000px;
	
	background-color: #FBFBFB;
	
	transition-duration: 1s;
	scroll-behavior: smooth;
	z-index: 1;
	padding: 100px 8.5%;
	opacity:1;

}
.bm
{
	margin:5% auto;
}
#Namelogo{
	opacity:2;
}


body
{
	scroll-behavior: smooth;
	color:#DA9560;
	
}
i
{
	color:#F4A292;
}

a:hover{
	color: #DA9560;
}
@media screen and (max-width:480px) {  
  .disappear {
    display: none;
  }
}

/*Rosy Brown
#B57C68
Copy
Tan
#D7C9BA
Copy
Dark Slate Gray
#494A54
Copy
Gray
#958E89
Copy
Light Slate Gray
#9FB0B9*/
